
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 100% 99%;
    --foreground: 264 16% 15%;
    --card: 0 0% 100%;
    --card-foreground: 264 16% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 264 16% 15%;
    --primary: 300 24% 80%;
    --primary-foreground: 264 16% 20%;
    --secondary: 264 10% 95%;
    --secondary-foreground: 264 16% 47%;
    --muted: 264 10% 95%;
    --muted-foreground: 264 10% 40%;
    --accent: 264 16% 47%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 264 10% 90%;
    --input: 264 10% 90%;
    --ring: 264 16% 47%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 264 16% 5%;
    --foreground: 240 100% 99%;
    --card: 264 16% 8%;
    --card-foreground: 240 100% 99%;
    --popover: 264 16% 8%;
    --popover-foreground: 240 100% 99%;
    --primary: 264 16% 47%;
    --primary-foreground: 240 100% 99%;
    --secondary: 264 10% 15%;
    --secondary-foreground: 300 24% 80%;
    --muted: 264 10% 15%;
    --muted-foreground: 264 10% 60%;
    --accent: 300 24% 80%;
    --accent-foreground: 264 16% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 264 10% 20%;
    --input: 264 10% 20%;
    --ring: 300 24% 80%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
}
