@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 264 16% 12%;
    --card: 0 0% 100%;
    --card-foreground: 264 16% 12%;
    --popover: 0 0% 100%;
    --popover-foreground: 264 16% 12%;
    --primary: 264 16% 25%;
    --primary-foreground: 0 0% 100%;
    --secondary: 264 10% 97%;
    --secondary-foreground: 264 16% 40%;
    --muted: 264 10% 97%;
    --muted-foreground: 264 10% 45%;
    --accent: 300 24% 20%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 264 10% 92%;
    --input: 264 10% 92%;
    --ring: 300 24% 20%;
    --radius: 0.25rem;

    /* Sidebar Variables */
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 264 16% 12%;
    --sidebar-primary: 264 16% 25%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 264 10% 97%;
    --sidebar-accent-foreground: 300 24% 20%;
    --sidebar-border: 264 10% 92%;
    --sidebar-ring: 300 24% 20%;
  }
  .dark {
    --background: 264 16% 5%;
    --foreground: 240 100% 99%;
    --card: 264 16% 8%;
    --card-foreground: 240 100% 99%;
    --popover: 264 16% 8%;
    --popover-foreground: 240 100% 99%;
    --primary: 264 16% 47%;
    --primary-foreground: 240 100% 99%;
    --secondary: 264 10% 15%;
    --secondary-foreground: 300 24% 80%;
    --muted: 264 10% 15%;
    --muted-foreground: 264 10% 60%;
    --accent: 300 24% 80%;
    --accent-foreground: 264 16% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 264 10% 20%;
    --input: 264 10% 20%;
    --ring: 300 24% 80%;

    --sidebar-background: 264 16% 8%;
    --sidebar-foreground: 240 100% 99%;
    --sidebar-primary: 264 16% 47%;
    --sidebar-primary-foreground: 240 100% 99%;
    --sidebar-accent: 264 10% 15%;
    --sidebar-accent-foreground: 300 24% 80%;
    --sidebar-border: 264 10% 20%;
    --sidebar-ring: 300 24% 80%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body selection:bg-accent/20;
    font-size: 1rem;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline font-normal tracking-tight;
  }
}

.luxury-gradient {
  background: linear-gradient(to right, rgba(0,0,0,0.8), rgba(0,0,0,0.2));
}

/* Custom scrollbar for editorial feel */
.custom-scrollbar::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: hsl(var(--accent) / 0.1);
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: hsl(var(--accent) / 0.2);
}